<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        
        <!-- end navbar side -->
        <!--  page-wrapper -->
          <div id="page-wrapper">
            <div class="row">
                 <!-- page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Profile For <%=current_user.full_name%></h1>
                </div>
                <!--end page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                       <span class="text-right"><%=link_to "Update" ,employees_employee_update_path,:class=>"btn btn-primary"%></span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    
                                        <div class="form-group">
                                            <label>Last Name</label>
                                                
                                                <%=@employee.last_name.nil? ? "" : @employee.last_name%>
                                            </div>
                                            <div class="form-group">
                                            <label>Address</label>
                                            
                                            <%=@employee.address.nil? ? "" : @employee.address%>
                                            
                                        </div>
                                            <div class="form-group">
                                            <label>City</label>
                                            
                                            <%=@employee.city.nil? ? "" :  @employee.city%>
                                            </div>
                                            <div class="form-group">
                                            <label>State</label>
                                            
                                            <%=@employee.state.nil? ? "" :  @employee.state%>
                                            </div>
                                            <div class="form-group">
                                            <label>Zip</label>
                                                <%=@employee.zip.nil? ? "" :  @employee.zip%>
                                            </div>
                                        <div class="form-group">
                                            <label>Date Of Birth(MM/DD/YYYY)</label>
                                         <%= @employee.dob.nil? ? "" : @employee.dob.to_date.to_formatted_s(:rfc822) %> <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        <div class="form-group">
                                        <label>Attachments Pictures/Word Documents</label><br/>
                                       <% if !@employee.filename.nil?%>
                                         <%= @employee.filename %> 
                                          <%=link_to "Download" ,serve_employee_path(@employee)%>
                                        <%end%>
                                        </div>
                                        <div class="form-group">
                                            <label>Ref.Code</label>
                                            <%=@employee.ref_code.nil? ? "" :  @employee.ref_code%>
                                        </div>
                                        <div class="form-group">
                                            <label>Employee Type</label>
                                            <%=@employee.emp_type.nil? ? "" :  @employee.emp_type%>
                                        </div>

                                        <div class="form-group">
                                            <label>devision</label>
                                                <%=@employee.devision.nil? ? "" : @employee.devision%>
                                        </div>
                                        <div class="form-group">
                                        <label>notes</label>
                                            <%=@employee.notes.nil? ? "" : @employee.notes%>
                                        </div>

                                       
                                    
                                </div>
                                <div class="col-lg-6">
                                    
                                    
                                        <div class="form-group">
                                            <label class="control-label" for="inputSuccess">First Name</label>
                                            
                                            <%=@employee.first_name.nil? ? "" :  @employee.first_name%>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="inputSuccess">Mid Name</label>
                                            
                                            <%=@employee.mid_name.nil? ? "" :  @employee.mid_name%>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label" for="inputWarning">Phone No-1</label>
                                            
                                            <%=@employee.phone.nil? ? "" : @employee.phone%>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label" for="inputError">Phone No-2</label>
                                            
                                            <%=@employee.phone_1.nil? ? "" : @employee.phone_1%>
                                        </div>
                                        
                                      <div class="form-group ">
                                            <label class="control-label" for="inputError">Hire Date</label>
                                            
                                            <%=@employee.hire_date.nil? ? "" : @employee.hire_date.to_formatted_s(:rfc822)%> <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label" for="inputError">Termination Date</label>
                                            
                                            <%=@employee.termination_date.nil? ? "" : @employee.termination_date.to_formatted_s(:rfc822)%> <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label" for="inputError">Raise Date</label>
                                            
                                            <%=@employee.raise_date.nil? ? "" : @employee.raise_date.to_formatted_s(:rfc822)%> <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label" for="inputError">Raise Amount</label>
                                            
                                            <%=@employee.raise_amount.nil? ? "" : number_to_currency(@employee.raise_amount)%>
                                        </div>
                                    
                                    
                                        <div class="form-group">
                                            <label for="disabledSelect">Email</label>
                                               <%=@employee.email.nil? ? "" : current_user.email%>
                                        </div>
                                        
                                        <div class="form-group ">
                                            <label class="control-label"  for="inputError">SS#</label>
                                            
                                           <%=@employee.ss_no_enc.nil? ? "" : @employee.ss_no_dec %> 
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label" for="inputError">County</label>
                                            
                                               <%=@employee.county.nil? ? "" : @employee.county%>
                                        </div>
                                        
                                          
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    
</body>

<script type="text/javascript">
            $(function () {
                
            });
        </script>