<%if !@user.blank?%>
    <form action="/admin/delete_users" method="post" id="myForm">
        <div class="text-left dlt-btn"><input type="submit" id="d" value="Deactivate" class="btn btn-warning"/></div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th> <input type="checkbox" name="checkbox" id="select-all"  /> All</th>
                        <th><span class="tr-cursor" onclick="searchD(0)">Name<b class="caret"></b></span></th>
                        <th style="width:35%;"><span class="tr-cursor" onclick="searchD(1)">Address<b class="caret" ></b></span></th>

                        <th><span class="tr-cursor" onclick="searchD(2)">Type<b class="caret"></b></span></th>
                        <th ><span class="tr-cursor" onclick="searchD(3)">Created Date<b class="caret"></b></span></th>
                        <th style="width:8%;">Edit User</th>
                        <th style="width:8%;">Active</th>
                    </tr>
                </thead>
                <tbody>
 	                <%if !@user.nil?%>
 	                    <%@count=1%>
 	                    <%@user.to_enum.with_index(1).each do |user,index|%>
                        <%if !user.is_admin%>
                        <tr id="<%=user.id%>"<%if !@count.odd?%> class="active"<%else%>class="info" <%end%>>
	                        <td><input type="checkbox" name="users[]" id="checkbox-<%=user.id%>" value="<%=user.id%>"  />  </td>
                            <td><%=user.full_name%></td>
	                        <td><%=user.address%></td>
	                        <td><%=user.user_type.capitalize%></td>
	                        <td><%=user.created_at.to_date%></td>
	                        <td><a class="btn btn-info"  onclick="edit_user(<%=user.id%>)" href="#"><i class="glyphicon glyphicon-edit"></i> Edit</a></td>
                            <%if user.is_active%>
                            <td><a href="#" id="a_<%=user.id%>" onclick="active_u(<%=user.id%>)" class="btn btn-primary btn_<%=user.id%>"> Active</a></td>
                            <%else%>
                            <td><a href="#" id="a_<%=user.id%>" onclick="active_u(<%=user.id%>)" class="btn btn-warning btn_<%=user.id%>">Inactive</a></td>
                            <%end%>
                        </tr>
                        <%@count+=1%>
                        <%end%>
                        <%end%>
                    <%end%>
                </tbody>
            </table>
            <input type="hidden" id="page_no" value="<%=params[:page]%>">
            <div class="text-right"><%= will_paginate @user , renderer: BootstrapPagination::Rails %></div>
    </form>
<%else%>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="bg-primary">
                <th>  All</th>
                <th><span >Name<b class="caret"></b></span></th>
                <th><span >Address<b class="caret"></b></span></th>
                <th><span >Type<b class="caret"></b></span></th>
                <th><span >Created Date<b class="caret"></b></span></th>
                <th>Edit User</th>
            </tr>
        </thead>
    </table>
    <h2 class="text-center text-success">No Record Found</h2>
<%end%>
<script type="text/javascript">
        $('#myForm').ajaxForm(function() { 
          $("#loader").hide();
            sendAjaxOnLoad();
                        
           }); 
        
$('#select-all').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;                        
        });
    }
    else
    {
    	$(':checkbox').each(function() {
            this.checked = false;                        
        });
    }
});
</script>
<script type="text/javascript">
$('.pagination a').attr('data-remote', 'true');
$("#loader").hide();
function active_u(id)
{
    $.ajax({type: "post",url: "/admin/delete_users",data: {'user_id' : id },success:function(data){
  $("#loader").hide();
    var change_active="#a_"+id;
     if (data.active==1){

    $(change_active).removeClass('btn-primary');
    $(change_active).addClass('btn-warning');
    

    $(change_active).text("Inactive");
}
    else
    {
    $(change_active).removeClass('btn-warning');
    $(change_active).addClass('btn-primary');
    $(change_active).text("Active"); 
    }
    //location.reload();
  }
});
}

</script>
