<%if !@roles.blank?%>

<table class="table table-bordered table-hover">
	<thead>
  <tr class="bg-primary">
  
  <th><span class="tr-cursor" onclick="searchD(0)">Name<b class="caret"></b></span></th>
  <th style="width:35%;"><span class="tr-cursor" onclick="searchD(1)">Role Description<b class="caret"></th>
  <th><span class="tr-cursor" onclick="searchD(2)">Created date<b class="caret"></b></span></th>
  <th>Edit</th>
  </tr>
	</thead>
	
<tbody>
	<%@count=1%>
   <%@roles.to_enum.with_index(1).each do |role,index|%>
  	<tr <%if index.zero?%> class="info" <%elsif (index).odd?%> class="active"<%else%>class="info" <%end%>>
 		
 		<td><%=role.name.capitalize%></td>
 		<td><%=role.role_desc.capitalize%></td>
 		<td><%=role.created_at.to_date%></td>
 		<td><a href="#" onclick="view_role(<%=role.id%>)" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i> Edit</a></td>
  </tr>
  <%@count+=1%>
  <%end%>
</tbody>
	
</table>
<input type="hidden" id="page_no" value="<%=params[:page]%>">
<div class="text-right "><%= will_paginate @roles, renderer: BootstrapPagination::Rails %></div>
<%else%>
<table class="table table-bordered table-hover">
  <thead>
  <tr class="bg-primary">
  
  <th><span>Name<b class="caret"></b></span></th>
  <th>Role Description</th>
  <th><span>Created date<b class="caret"></b></span></th>
  <th>Edit</th>
  </tr>
  </thead>
  </table>
<h2 class="text-center text-success">No Record Found</h2>
<%end%>
<script type="text/javascript">
$('.pagination a').attr('data-remote', 'true');
$("#loader").hide();
</script>