<div class="modal-dialog">
  <div class="modal-content">  
    <div class="modal-header">
      <form id="modalFrm" action="" method="get" remote="true">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="confirmation">          
          <h3 class="text-center rgray">Delete User Popup</h3>
            <div class="text-left success-col wight-col-succ">                                                  
              <h4 class=" text-danger">User Name : <%=@user.full_name%></h4>
              <h4 class="text-danger">User Role : <%=@user.user_type%></h4> 
              <h4 class="text-danger">User Email : <%=@user.email%></h4>
              <a href="#"  onclick="delete_1(<%=@user.id%>)" class="btn btn-danger">Delete User</a>             
                                          
          </div>
        </div>
      </form>
    </div>    
  </div>
</div>
<script type="text/javascript">
function delete_1(user_id){
	
$.ajax({type: "get",url: "/admin/inactive",data: {'user_id' : user_id},success:function(){
  $("#loader").hide();
	$("#<%=@user.id%>").fadeOut(1000);
  }
});
}
</script>