<p><h2>All Users</h2><div class="text-right"><%= link_to "+ Add User", sign_up_path ,:class=>"btn btn-primary"%>&nbsp;&nbsp;<%= link_to "+ Add Role", admin_path ,:class=>"btn btn-primary"%></div></p>
<form action="/admin/delete_users" method="post">
<div class="text-left dlt-btn"><input type="submit" value="Delete" class="btn btn-danger"/></div>
<table class="table table-bordered table-hover">
 <thead>
<tr>
<th>Sr.No <input type="checkbox" name="checkbox" id="select-all" /></th>
<th>Name</th>
<th>Address</th>
<th>Type</th>
<th>Create Time</th>
<th>Edit User</th>
</tr>
 </thead>
 <tbody>
 	<%if !@user.nil?%>
 	<%@user.each_with_index do |user,index|%>
<%if !user.is_admin%>
<tr id="<%=user.id%>"<%if index.zero?%> class="info" <%elsif !(index).odd?%> class="active"<%else%>class="info" <%end%>>
	<td><%if index.zero?%>1<%else%><%=index%><%end%> <input type="checkbox" name="users[]" id="checkbox-<%=user.id%>" value="<%=user.id%>" /></td>
	<td><%=user.full_name%></td>
	<%if user.is_customer%>
	<td><%=user.customers.first.address1%></td>
	<%else%>
	<td><%=user.employees.first.address%></td>
	<%end%>
	<td><%=user.user_type.capitalize%></td>
	<td><%=user.created_at.to_date%></td>
	
	<td><a class="btn btn-primary"  onclick="edit_user(<%=user.id%>)" href="#">Edit</a></td>
</tr>
<%end%>
<%end%>
<%end%>
 </tbody>
</table>
<div class="text-right"><%= will_paginate @user, renderer: BootstrapPagination::Rails %></div>
</form>

<script type="text/javascript">
function edit_user(user_id){
	
$.ajax({type: "get",url: "/admin/update_user",data: {'user_id' : user_id },success:function(){
  $("#loader").hide();
    
  }
});
}

$('#select-all').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;                        
        });
    }
    else
    {
    	$(':checkbox').each(function() {
            this.checked = false;                        
        });
    }
});


</script>