<p><h2>All Users</h2><span class="text-right"><%= link_to "+ Add User", sign_up_path ,:class=>"btn btn-primary"%></span>&nbsp;&nbsp;<span class="text-right"><%= link_to "+ Add Role", admin_path ,:class=>"btn btn-primary"%></span>&nbsp;&nbsp;<span class="text-right"><%= link_to "View And Edit Roles", admin_role_list_path ,:class=>"btn btn-primary"%></span></p>

<table class="table table-bordered table-hover">
 <thead>
<tr>
<th>Name</th>
<th>Address</th>
<th>Type</th>
<th>Create Time</th>
<th>Roles</th>
<th>Delete User</th>
</tr>
 </thead>
 <tbody>
 	<%if !@user.nil?%>
 	<%@user.each_with_index do |user,index|%>
<%if user.user_type!='admin'%>
<tr id="<%=user.id%>"<%if index.zero?%> class="info" <%elsif !(index).odd?%> class="active"<%else%>class="info" <%end%>>
	<td><%=user.full_name%></td>
	<%if user.is_customer%>
	<td><%=user.customers.first.address1%></td>
	<%else%>
	<td><%=user.employees.first.address%></td>
	<%end%>
	<td><%=user.user_type.capitalize%></td>
	<td><%=user.created_at.to_date%></td>
	<td>Role as <%=user.user_type.capitalize%></td>
	<td><button class="btn btn-danger"  onclick="delete_user(<%=user.id%>)">Delete</button></td>
</tr>
<%end%>
<%end%>
<%end%>
 </tbody>
</table>
<script type="text/javascript">
function delete_user(user_id){
	
$.ajax({type: "get",url: "/admin/delete_user",data: {'user_id' : user_id },success:function(){
  $("#loader").hide();
    
  }
});
}


</script>