<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        
        <!-- end navbar side -->
        <!--  page-wrapper -->
          <div id="page-wrapper">
            <div class="row">
                 <!-- page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Profile For <%=current_user.full_name%></h1>
                </div>
                <!--end page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        Customer Home
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" action="<%=customers_update_row_path%>" method="post">
                                        <div class="form-group">
                                            <label>Compony Name</label>
                                               
                                                <%= best_in_place @customer, :company_name, :type => :input ,:classes=>"form-control"%>
                                            </div>
                                            <div class="form-group">
                                            <label>Address</label>
                                            
                                               <%= best_in_place @customer, :address1, :type => :textarea ,:classes=>"form-control"%>
                                        </div>
                                        <div class="form-group">
                                            <label>City</label>
                                            
                                            <%= best_in_place @customer, :city, :type => :input ,:classes=>"form-control"%>
                                            </div>
                                            <div>
                                            <label>State</label>
                                            
                                             <%= best_in_place @customer, :state, :type => :input,:classes=>"form-control" %>
                                            </div>
                                            <div>
                                            <label>Zip</label>
                                            <%= best_in_place @customer, :zip, :type => :input ,:classes=>"form-control"%>
                                            </div>
                                        
                                        
                                        
                                        <div class="form-group">
                                            <label>Business</label>
                                            
                                            <%= best_in_place @customer, :business, :type => :select, :collection => [["CONTRACTOR", "CONTRACTOR"], ["DIRECT MAIL", "DIRECT MAIL"], ["NEWS PAPER AD", "NEWS PAPER AD"], ["REFERRAL", "REFERRAL"], ["UNKNOWN", "UNKNOWN"], ["WORD OF MOUTH", "WORD OF MOUTH"],["YELLOW PAGES", "YELLOW PAGES"]] ,:classes=>"form-control"%>
                                        </div>
                                        
                                       
                                    
                                </div>
                                <div class="col-lg-6">
                                    
                                    
                                        <div class="form-group">
                                            <label class="control-label" for="inputSuccess">First Name</label>
                                            
                                            <%= best_in_place @customer, :name, :type => :input ,:classes=>"form-control"%>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label"  for="inputWarning">Phone No-1</label>
                                            
                                            <%= best_in_place @customer, :phone1, :type => :input,:classes=>"form-control" %>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label" for="inputError">Phone No-2</label>
                                            
                                            <%= best_in_place @customer, :phone2, :type => :input,:classes=>"form-control" %>
                                        </div>
                                    
                                    
                                    
                                        <div class="form-group">
                                            <label for="disabledSelect">Email</label>
                                                <input class="form-control" name="email" id="disabledInput" type="text" value="<%=current_user.email%>" disabled>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label"  for="inputError">Solutations</label>
                                            
                                            <%= best_in_place @customer, :salutation, :type => :input ,:classes=>"form-control"%>
                                            
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label" for="inputError">County</label>
                                            
                                            <%= best_in_place @customer, :county, :type => :input ,:classes=>"form-control"%>
                                        </div>
                                        
                                         
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    
</body>


