
{{#if check_role_employee}}
   {{partial 'employee'}}
    <!--<img src="/assets/construction.jpg"/>-->
  {{else}}


<!--  wrapper -->
<div id="wrapper">
    <!-- navbar top -->

    <!-- end navbar side -->
    <!--  page-wrapper -->
    <div id="page-wrapper">
        <div class="row">
            <!-- page header -->
            <div class="col-lg-12">
                <h1 class="page-header">Profile For {{hiName}} </h1>
            </div>
            <!--end page header -->
        </div>
        <form id="myForm" data-remot="true">
        <div class="row">
            <div class="col-lg-12">
                <!-- Form Elements -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Please update your information to proceed..
                    </div>
                    <input type="hidden" id="user_id" name="user_id" value={{unbound user.id}} >
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                
                                    <div class="form-group">
                                        {{#if check_role_customer}}
                                        <label>Company Name</label>

                                        {{input type="text" class="form-control" name="customer[company_name]" placeholder="Company Name" value= user.customer.company_name id="company_name"}}
                                        {{else}}
                                            <input class="form-control" name="customer[first_name]" id="first_name"  value={{unbound user.first_name}} >
                                        {{/if}}
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <textarea class="form-control" name="customer[address1]" rows="3" id="address">{{unbound user.address}}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>City</label>
                                        <input class="form-control" name="customer[city]" id="city" value={{unbound user.customer.city}} >
                                    </div>
                                    <div>
                                        <label>State</label>
                                        <input class="form-control" name="customer[state]" id="state" value={{unbound user.customer.state}} >
                                    </div>
                                    <div>
                                        <label>Zip</label>
                                        <input class="form-control" name="customer[zip]" placeholder="Enter text" id="zip" value={{unbound user.customer.zip}}>
                                    </div>



                                    <div class="form-group">
                                        <label>Business</label>
                                        <select class="form-control" name="customer[business]" id="business">
                                            <option value="CONTRACTOR">CONTRACTOR</option>
                                            <option value="DIRECT MAIL">DIRECT MAIL</option>
                                            <option value="NEWS PAPER AD">NEWS PAPER AD</option>
                                            <option value="REFERRAL">REFERRAL</option>
                                            <option value="UNKNOWN">UNKNOWN</option>
                                            <option value="WORD OF MOUTH">WORD OF MOUTH</option>
                                            <option value="YELLOW PAGES">YELLOW PAGES</option>
                                        </select>
                                    </div>

                            </div>


                            <div class="col-lg-6">


                                <div class="form-group">
                                    <label class="control-label" for="inputSuccess">First Name</label>
                                    <input type="text" class="form-control" id="first_name"  name="customer[first_name]" value={{unbound user.first_name}}>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="inputSuccess">Last Name</label>
                                    <input type="text" class="form-control" id="last_name"  name="customer[last_name]" value={{unbound user.last_name}}>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label"  for="inputWarning">Phone No-1</label>
                                    <input type="text" class="form-control" name="customer[phone1]" id="phone1"value={{unbound user.customer.phone1}} >
                                </div>
                                <div class="form-group ">
                                    <label class="control-label" for="inputError">Phone No-2</label>
                                    <input type="text" class="form-control" id="phone2" name="customer[phone2]"  value={{unbound user.customer.phone2}}>
                                </div>



                                <div class="form-group">
                                    <label for="disabledSelect">Email</label>
                                    <input class="form-control" name="customer[email]" id="email" type="text" value={{unbound user.email}} disabled>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label"  for="inputError">Solutations</label>
                                    <input type="text" class="form-control" id="salutation" name="customer[salutation]" value={{unbound user.customer.salutation}} >

                                </div>
                                <div class="form-group ">
                                    <label class="control-label" for="inputError">County</label>
                                    <input type="text" class="form-control" name="customer[county]" id="county" placeholder="Font Awesome Icon" value={{unbound user.customer.county}} >
                                </div>

                                <button type="submit" {{action 'editUser'}} class="btn btn-primary">Update</button>
                                <button type="reset" class="btn btn-success">Reset Button</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Form Elements -->
            </div>
            </form>
        </div>
    </div>
    
    <!-- end page-wrapper -->

</div>
<!-- end wrapper -->

<!-- Core Scripts - Include with every page -->

{{/if}}
