
<body>
    <!--  wrapper -->
    <form id="myForm" action="/employees/update_row" enctype="multipart/form-data" method="post" data-remote="true">
    <div id="wrapper">
        <!-- navbar top -->
        
        <!-- end navbar side -->
        <!--  page-wrapper -->
          <div id="page-wrapper">
            <div class="row">
                 <!-- page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Profile For </h1>
                </div>
                <!--end page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Please update your information to proceed..
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    
                                        <div class="form-group">
                                            <label>Last Name</label>
                                                <input class="form-control"  name="employee[last_name]" placeholder="Last Name" value={{unbound user.employee.last_name}} >
                                            </div>
                                            <div class="form-group">
                                            <label>Address</label>
                                            <textarea class="form-control" name="employee[address]" rows="3">
                                            {{unbound user.employee.address}}
                                            </textarea>
                                            
                                        </div>
                                        <input type="hidden" name="user_id" id="user_id" value={{unbound user.id}}>
                                            <div class="form-group">
                                            <label>City</label>
                                            <input class="form-control" name="employee[city]" placeholder="Enter text" value={{unbound user.employee.city}} >
                                            </div>
                                            <div class="form-group">
                                            <label>State</label>
                                            <input class="form-control" name="employee[state]" placeholder="Enter text" value={{unbound user.employee.state}}>
                                            </div>
                                            <div class="form-group">
                                            <label>Zip</label>
                                            <input class="form-control" name="employee[zip]" placeholder="Enter text" value={{unbound user.employee.zip}}>
                                                
                                        </div>
                                        <div class="form-group">
                                            <label>Date Of Birth(MM/DD/YYYY)</label>
                                        
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" name="employee[dob]" value={{unbound datetime_edit user.employee.dob  format="DD/MM/YYYY" }}>
                                            
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                      </div>
                                  </div>
                                  <label>Attachments Pictures/Word Documents</label>
                                   <div class="form-group">
                                        
                                        </div>
                                      <div class="form-group">
                                            
                                            <input type="file" class="form-control" name="employee[doc_or_image]" >
                                            <label>Download</label> | <a href="/employees/serve/{{unbound user.employee.id}} ">{{user.employee.filename}}</a>
                                        </div>  
                                        
                                        <div class="form-group">
                                            <label>Ref.Code</label>
                                            <select class="form-control" name="employee[ref_code]">
                                                <option value="BAD DEBT">BAD DEBT</option>
                                                <option value="COMMERCIAL">COMMERCIAL</option>
                                                <option value="CONTRACT">CONTRACT</option>
                                                <option value="CUSTOMER">CUSTOMER</option>
                                                <option value="HOME REPAIR">HOME REPAIR</option>
                                                <option value="LEAD">LEAD</option>
                                                <option value="PAYEE">PAYEE</option>
                                                <option value="PREV.MAINT.">PREV.MAINT.</option>
                                                <option value="PROSPECT">PROSPECT</option>
                                                <option value="SPECIAL">SPECIAL</option>
                                                <option value="VENDOR">VENDOR</option>

                                            </select>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label>Division</label>
                                                <input class="form-control"  name="employee[devision]" placeholder="Last Name" value={{unbound user.employee.devision}}>
                                            </div>
                                       <div class="form-group">
                                            <label>Notes</label>
                                        <textarea class="form-control" name="employee[notes]" rows="3">
                                          {{unbound user.employee.notes}}
                                        </textarea>
                                        </div>
                                       
                                    
                                </div>
                                <div class="col-lg-6">
                                    
                                    
                                        <div class="form-group">
                                            <label class="control-label" for="inputSuccess">First Name</label>
                                            <input type="text" class="form-control" name="employee[first_name]" id="inputSuccess" value={{unbound user.employee.first_name}}>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="inputSuccess">Mid Name</label>
                                            <input type="text" class="form-control" name="employee[mid_name]" id="inputSuccess" value={{unbound user.employee.mid_name}}>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label" for="inputWarning">Phone No-1</label>
                                            <input type="text" class="form-control" name="employee[phone]"  value={{unbound user.employee.phone}}>
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label" for="inputError">Phone No-2</label>
                                            <input type="text" name="employee[phone_1]" class="form-control"  value={{unbound user.employee.phone_1}}>
                                        </div>
                                        <fieldset>
                                        <legend>Employee Type</legend>
                                        <div class="row">
                                                <div class="col-md-4">
                                                    <input type="radio" name="employee[emp_type]" id="emp_type1" value="Technician" >Technician
                                                  
                                                </div>
                                            <div class="col-md-4">
                                           
                                                <input type="radio" name="employee[emp_type]" id="emp_type2" value="Salesperson" >Salesperson
                                            </div>
                                            <div class="col-md-4">
                                                <input type="radio" name="employee[emp_type]" id="emp_type3" value="Project Manager" >Project Manager
                                            </div>
                                            <br/>
                                             <div class="col-md-4">
                                                <input type="radio" name="employee[emp_type]" id="emp_type4" value="Account Manager">Account Manager
                                            </div>
                                             <div class="col-md-4">
                                                <input type="radio" name="employee[emp_type]" id="emp_type5" value="Administrative" >Administrative
                                            </div>
                                             <div class="col-md-4">
                                                <input type="radio" name="employee[emp_type]" id="emp_type6" value="Executive" >Executive
                                            </div>
                                            <br/>
                                            <div class="col-md-4">
                                                <input type="radio" name="employee[emp_type]" id="emp_type7" value="WP Tech Admin" >WP Tech Admin
                                            </div>
                                            <div class="col-md-4">
                                                <input type="radio" name="employee[emp_type]" id="emp_type7" value="Other" >Other
                                            </div>
                                        </div>
                                        </fieldset>
                                        <div class="form-group ">
                                            <label>Hire Date(MM/DD/YYYY)</label>
                                     <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' class="form-control" name="employee[hire_date]" value={{unbound datetime_edit user.employee.hire_date format="DD/MM/YYYY"}}>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                      </div>
                                  </div>
                                  <div class="form-group ">
                                    <label>Termination Date(MM/DD/YYYY)</label>
                                       <div class='input-group date' id='datetimepicker3'>
                                            <input type='text' class="form-control" name="employee[termination_date]" value={{unbound datetime_edit user.employee.termination_date format="DD/MM/YYYY"}}>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                      </div>
                                  </div>
                                  <div class="form-group ">
                                    <label>Raise Date(MM/DD/YYYY)</label>
                                       <div class='input-group date' id='datetimepicker4'>
                                            <input type='text' class="form-control" name="employee[raise_date]" value={{unbound datetime_edit user.employee.raise_date format="DD/MM/YYYY"}}>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                      </div>
                                    </div>
                                        <div class="form-group">
                                            <label for="disabledSelect">Email</label>
                                                <input class="form-control" name="employee[email]" id="disabledInput" type="text" value={{unbound user.email}} disabled>
                                        </div>
                                        <label for="disabledSelect">Raise Amount</label>
                                        <div class="form-group input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                            <input type="text" class="form-control" name="employee[raise_amount]" value={{unbound user.employee.raise_amount}}>
                                            <span class="input-group-addon">.00</span>
                                        </div>

                                        <div class="form-group ">
                                            
                                            <label class="control-label"  for="inputError">SS#</label>
                                            <input type="text" name="employee[ss_no]" class="form-control" value={{unbound user.employee.ss_no}}>
                                            
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label"  for="inputError">County</label>
                                            <input type="text" class="form-control" name="employee[county]" value={{unbound user.employee.county}}>
                                        </div>
                                        
                                       <button type="submit" class="btn btn-primary" {{action 'employee'}}>Update</button>
                                            
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    </form>
</body>

<script type="text/javascript">

$(function () {
            $('.date').datepicker(
            {
                format: 'dd/mm/yyyy'
            });

        });
</script>
