
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     {{#link-to 'home' class="navbar-brand"}} <i class=" glyphicon glyphicon-home"></i>{{#if check_role_admin}}Admin {{else}} {{#if check_role_user}} User {{else}} Welcome {{/if}} {{/if}}    Home  {{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li >{{#link-to 'help'}}Help{{/link-to}}</li>
        {{#if check_role_admin}}
        <li>{{#link-to 'user_management'}}<i class="glyphicon glyphicon-user"></i> User Managment{{/link-to}}</li>
        <li>{{#link-to 'role_management' }}<i class="glyphicon glyphicon-tasks"></i> Role Managment{{/link-to}}</li>
        {{else}}
        {{#if check_role_user}}
        <li>{{#link-to 'update_user'}}<i class="glyphicon glyphicon-edit"></i> Update Profile{{/link-to}}</li>
        {{/if}}

        {{/if}}

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{{#if isAuthenticated}} <span  class="online_img"></span> {{hiName}} {{else}} User {{/if}} <i class="glyphicon glyphicon-user"></i><b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{#if isAuthenticated}}
            <li><a href="javascript:void(0);"  {{action "logout"}}><i class="glyphicon glyphicon-off"></i> Logout</a></li>
            {{else}}
            <li>{{view Deerfield.MenuItem href="#/login" label="Login" }}</li>
            <li class="divider"></li>
            <li>{{view Deerfield.MenuItem href="#/registration" label="Register" }}</li>
            {{/if}}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
