    <div class="form-inline serch-box">

        <input type="text" class="form-control" id="keyword" placeholder="Search Role">
        <input type="hidden" name="order" id="order" value="0"/>
        <select class="form-control target " id="role_mode" >
            <option  value="name">Name</option>
            <option  value="description">Description</option>
        </select>
        <button type="submit" class="btn btn-primary" {{action "search_role"}}>Search</button>
    </div>

    <input type="hidden" name="desc" value="desc" id="desc"/>
    <!--end-->
    <p><div class="text-right">{{#link-to 'add_role' class="btn btn-primary" }}Add Role{{/link-to}}</div></p>
    <div id="search_page">
    </div>
    
<table class="table table-bordered table-hover">
	<thead>
  <tr class="bg-primary">
  
  <th><span class="tr-cursor" >S. No<b class="caret"></b></span></th>
  <th><span class="tr-cursor" {{action 'sort' "name"}} >Name<b id="name" class="caret"></b></span></th>
  <th><span class="tr-cursor" {{action 'sort' "description"}}>Role Description<b id="description" class="caret"></th>
  <th><span class="tr-cursor" {{action 'sort' "created_at"}}>Created date<b id="created_at" class="caret"></b></span></th>
  <th>Edit</th>
  </tr>
	</thead>
	
<tbody>
	{{#each role in model}}
    	<tr   class="active"class="info" >
     		<td>{{role.index}}</td>
        <td>{{role.name}}</td>
     		<td>{{role.description}}</td>
     		<td>{{datetime role.created_at format="DD/MM/YYYY"}}</td>
     		<td>{{#link-to 'edit_role' role.id class="btn btn-primary" }}Edit{{/link-to}}</td>
        </tr>
	{{/each}}
</tbody>
	
</table>
