{{#if check_role_admin}}
<div class="form-inline serch-box">



          <input type="text" class="form-control" id="keyword" placeholder="Search User">
         <input type="hidden" name="order" id="order" value="0"/>
         <select class="form-control target " id="mode" >
             <option  value="name">Name</option>
             <option  value="address">Address</option>
             <option  value="role">User type</option>
             <option  value="active">Active</option>
            <option  value="inactive">Inactive</option>
          </select>
         <button {{action "search_user"}} type="submit" class="btn btn-primary" >Search</button>
  </div>

<input type="hidden" name="desc" value="desc" id="desc"/>
<!--end-->
<p><div class="text-right">{{view Deerfield.MenuItem href="#/registration" label="Add User" class="btn btn-primary"}}</div></p>
<div id="search_page">
</div>
<form action="/user_data/user_active" method="post" data-remote="true" id="myForm">
<div class="text-left dlt-btn"><input type="submit" id="active_inactive" value="Deactivate" {{action 'deactive'}} class="btn btn-warning"/></div>

<table class="table table-bordered table-hover">
 <thead>
<tr class="bg-primary">
<th> <input type="checkbox" name="checkbox" id="select-all" /> All</th>
<th><span  class="tr-cursor" {{action 'sort' "first_name"}} >Name<b id="first_name" class="caret"></b></span></th>
<th><span class="tr-cursor" {{action 'sort' "address"}}>Address<b id="address" class="caret"></b></span></th>

<th><span class="tr-cursor" {{action 'sort' "user_type"}}>Type<b id="user_type" class="caret"></b></span></th>
<th><span class="tr-cursor" {{action 'sort' "created_at"}}>Created Date<b id="created_at" class="caret"></b></span></th>
<th>Active</th>
<th>Edit User</th>
</tr>
 </thead>
 <tbody>

{{#each user_data itemController=''}}
    <tr id="" class="active">
    	<td><input type="checkbox" name="users[]" id="checkbox-{{unbound id}}" value={{unbound id}} />  </td>
        <td>{{first_name}}</td>
    	<td>{{address}}</td>

    	<td>{{user_type}}</td>
    	<td>{{datetime created_at format="DD/MM/YYYY"}}</td>
        {{#if is_active}}
        <td><span class="btn btn-primary" onclick="active_user({{unbound id}})" id="a_{{unbound id}}" >Active</span></td>
        {{else}}
        <td><span  class="btn btn-warning" onclick="active_user({{unbound id}})" id="a_{{unbound id}}" >Inactive </span></td>
        {{/if}}
    	<td>{{#link-to  'edit_user' id class="btn btn-info"}}Edit{{/link-to}}</td>
    </tr>
 {{/each}}
 </tbody>
</table>

</form>
    
{{/if}}
