<!DOCTYPE html>
<html lang="en">
 
	<head>
  		<title>IntacWebPortal : <%=params[:action]%></title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
		<%=render :partial=>"/layouts/admin"%>
		
		<div class="modal fade" id="myModal" aria-hidden="true"></div>
		<div id="loader" class=""><img src="/assets/ajax-loader.gif"></img></div>
		<%= yield %>
		</div><!-- contener div close-->
	</body>
</html>
<style type="text/css">

</style>
<script type="text/javascript">
$(document).ready(function(){
	$("#loader").hide();
});
$("#flash_notice").fadeOut(10000);

$( document ).ajaxStart(function() {
  $( "#loader" ).show();
});

</script>